* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

/** Header**/

.header{
	z-index: 1;
	background-color: #082c49;
}

.header-overlay{
  padding-bottom: 15%;
  z-index: 1;
}


/** Content **/

p{
  font-size: 22px;
  color: #082c49;
  font-weight: 500;
}


/** Form control**/

label{
  font-size: 14px;
  font-weight: 600;
  color: #082c49;
}

.form-control{
  border: 1px solid #fff;
  border-bottom: 1px solid #9b9b9b;
  border-radius: 0%;
  width: 100%;
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #082c49;
  font-size: 14px;
  font-weight: 500;
}

input{
	background-color: transparent;
}


.btn{
	border-radius: 0%;
	background-color: #082c49;
	padding: 3% 9%;
	font-size: 1em;
	font-weight: 400;
	opacity: 0.95;
	float: right;
}

.btn:hover{
  background-color: #082c49;
  opacity: 1;
  transition: all 0.3s ease-in-out ;
}

label{
	color: #082c49;
	float: left !important;
}

form{
	padding-left: 6%;
	padding-right: 6%;
}

h3{
	color: #082c49;
}

.logo{
	margin-top: 8%;
}

.login-bloc{
	z-index: 2;
	background-color: #fff;
	margin-top: -10%;
	margin-bottom: 10%;
	padding: 4% 2%;
	width: 30%;
	box-shadow: 1px 2px 15px #999;
}
