@media only screen and (min-width: 989px){
  footer{
    margin-top: 5%;
  }
}

@media only screen and (max-width: 575px) {
  .footer{
    margin-top: 2%;
  }
}

@media only screen and (max-width: 460px) {

  .footer{
    margin-top: 2%;
  }
}

@media only screen and (max-width: 767px) {

  .footer .col-md-8 p{
    padding-right: 0%;
    padding-top: 1%;
	
  }

  .footer>.container>.row>.col-md-2>p{
    float: left;
  }

  .footer{
    height: 100%;
  }
  
  .footer>.container>.row{
	margin-bottom: 1%;
  }
}

@media only screen and (min-width: 767px){
    .footer{
      margin-top: -4%;
    }
	
}
