* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header{
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

/** header content **/
.header-text{
  margin-top: 5%;
	margin-bottom: 5%;
}

.header-title{
	color: #fff;
	font-weight: 400;
  font-size: 3em;
}

.slogan-text{
	font-weight: 600;
}

.form-title{
	float: left;
	background-color: #fff;
	padding: 14px;
	height: 46px;
}

.form-title img{
	padding-right: 9px;
}

.search-form{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.form-group{
	padding-left: 20px;
	padding-right: 20px;
}

#modele, #marque{
  border: 1px solid #fff;
  border-bottom: 1px solid #9b9b9b;
}

/*** Price Slider ***/

#slider-range {
    -webkit-appearance: none;
    height: 2px;
    max-width: 100%;
    margin-bottom: 8%;
    -webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
    transition: opacity .2s;
}

#slider-range:hover {
    opacity: 1;
}


#amount{
  font-weight: 600;
  font-size: 14px;
  color: #082c49;
  border: 0;
  padding-bottom: 2%;
}

.btn{
	border-radius: 0%;
}

.btn-search{
	background-color: #082c49;
	padding: 15px 82px;
	font-size: 20px;
	font-weight: 500;
}

.btn-search:hover{
  border: 1px solid #ff9c19;
  background-color: #ff9c19;
  transition: all 0.3s ease-in-out ;
}

.btn-search img{
	margin-right: 15px;
}

label{
	color: #9b9b9b;
}

#range{
	font-weight: 600;
	font-size: 14px;
}

.form-control{
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  border-radius: 0%;
  width: 100%;
  padding-left: 0px ;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #082c49;
  font-size: 14px;
  font-weight: 500;
}

.search{
	padding-bottom: 8%;
}

/** annonces**/

.annonces{
	margin-top: 5%;
}

h4{
	font-weight: 600;
	color: #082c49;
	margin-bottom: 5%;
}

.card{
	border-radius: 0%;
	margin-bottom: 14px;
}

.card-title,.card-text{
	padding-left: 5px;
	padding-right: -5px;
	font-size: 16px;
}

.card-text{
	font-weight: 700;
}

.card-text span{
	font-weight: 700;
	font-size: 12px;
}

.card-title{
	font-weight: 600;
}

.list-group ul li{
	list-style: none;
  display: inline;
}

.list-item-text{
	font-weight: 500;
	font-size: 12px;
}

.small-card{
	border-top: 1px solid #e0e0e0;
	padding: 8px;
}

.small-card img{
	padding-right: 8%;
}

.annonces>.container>.row{
	margin-bottom: 5%;
}

.card-img-top{
	border-radius: 0%;
}

a.link-annonce{
	text-decoration: none;
	color: #555;
	font-weight: 500;
	font-size: 16px;
}

.show-more{
  margin-bottom: 4%;
  margin-top: -2%;
}

.angle-right{
	background-image: url("../images/angle-right.png");
	background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 6px 7px;
	padding: 5px 5px;
	margin-left: 1%;
}

/** about**/

.about-left-image{
  background-image: url("../images/explorer.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.about-right-image{
  background-image: url("../images/vendre.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.about{
  color: #fff;
}

.about>.row, .about>.row>.col-md-6{
  padding: 0;
  margin: 0;
}

.about-left-image{
  text-align: right;
  padding-right: 13%;
  padding-left: 40%;
  height: 400px;
}

.about-right-image{
  text-align: left;
  padding-left: 13%;
  padding-right: 40%;
  height: 400px;
}

.about-right-title, .about-left-title{
  padding-top: 25%;
  padding-bottom: 10%;
  font-weight: 600;
}

.about-right-text, .about-left-text{
  margin-bottom: 15%;
}

.explorer, .vendre{
  padding: 5% 15%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

.explorer:hover{
	background-color: #fff;
	color: #082c49;
	transition: all ease-in-out 0.2s;
	text-decoration: none;
}

.vendre:hover{
	background-color: #fff;
	color: #ff9100;
	transition: all ease-in-out 0.2s;
	text-decoration: none;
}

/** testimonials **/

.slide{
  height: 350px;
}

.col-md-6>h3{
  font-weight: 600;
  color: #222;
  margin-bottom: 10%;
}

.col-md-8>p{
  color: #555;
  font-weight: 200;
}

.col-md-8>p{
    margin-bottom: 4%;
}

.carousel-item{
  margin-top: -3%;
}

.carousel-control{
  margin-bottom: 6%;
}

.testimonials-name{
  color: #222;
  font-size: 18px;
  margin-left: 3%;
  font-weight: 500;
}

.testimonials-icon{
  margin-top: 4%;
}

.testimonials-icon{
  text-align: center;
}
